<app-navbar></app-navbar>
<section class="experience-section">
    <div class="experience-container">
      <h2>Professional Experience</h2>
      
      <div class="timeline">
        <div class="experience-card" *ngFor="let exp of experiences">
          <div class="card-header">
            <h3>{{ exp.role }}</h3>
            <h4>{{ exp.company }}</h4>
            <div class="period-location">
              <span class="period">{{ exp.period }}</span>
              <span class="location">{{ exp.location }}</span>
            </div>
          </div>
          
          <div class="responsibilities">
            <ul>
              <li *ngFor="let responsibility of exp.responsibilities">
                {{ responsibility }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>